.product-section {
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.product-card {
  display: flex;
  width: 100%;
  max-width: 1400px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.product-detail {
  display: flex;
  width: 100%;
  align-items: stretch; /* Ensures both sides have equal height */
}

.product-images {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-image {
  flex: 1;
  overflow: hidden;
}

.main-product-img {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  object-fit: cover;
  transition: transform 0.3s ease;
  padding: 10px;
}

.thumbnail-images {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: left;
}

.thumbnail-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
}

.product-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.product-ref {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  position: absolute;
  top: 10px;
  left: 20px;
}

.status-content {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 120px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.in-progress {
  background-color: #ffc107;
}

.open {
  background-color: #28a745;
}

.closed {
  background-color: #dc3545;
}

.product-price-info {
  margin-top: 40px;
}

.price-text {
  font-size: 18px;
  font-weight: bold;
}

.remaining-time, .date-time, .majoration {
  font-size: 14px;
  color: #555;
}

/* Timer CSS */
.timer {
  margin-bottom: 20px;
}

.timer-label {
  font-size: 14px;
  color: #555;
}

.time-value {
  font-size: 18px;
  font-weight: bold;
}

.publish-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.publish-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1212px) {
  .product-detail {
    flex-direction: column;
  }
}
